@model List<User>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad Soyad</th>
            <th>İşlemler</th>
            <th>Fiyat</th>
            <th>Email</th>
            <th>Numara</th>
        </tr
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name_Surname</td>
                <td>@user.Email</td>
                <td>@user.Phone</td>
            </tr>
        }
    </tbody>
</table>