@model HairSaloon_Website.Models.Employee

<form asp-action="AddEmployee" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Working_hours"></label>
        <input asp-for="Working_hours" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImageFile">Resim Yükle</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
